.title {
    display: flex;
    justify-content: center;
}
.wrapper{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}
.box{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
}